body {
  margin: 40px; 
  padding: 0;
  background: #fdfdfd;
  font-family: 'Fira Sans', sans-serif;
}

// хак для файрфокса, который чинит min-height у #input, #output
@-moz-document url-prefix() {
  body {
    height: 100%;
  }
}

#input, #output {
  width: calc(50% - 27px);
  height: auto;
  min-height: 30%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 40px;
  padding: 10px;
  font-size: 12pt;
  line-height: 1.2;
  background: #fff;
  border: 0.5pt solid #dcdcdc;
  border-radius: 5px;
  outline: none;
  white-space: pre-wrap;
  word-break: break-word;
  transition: all .2s;
}

#input {
  float: left;
  font-family: 'Fira Sans', sans-serif;
  resize: none;
  overflow: hidden;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

#output {
  float: right;
}

#title {
  cursor: default;
  font-size: 32pt;
  line-height: 1.2;
  text-align: center;
}

#title-word, #title-arrow, #title-emoji {
  display: inline-block;
}

#title-word {
  width: 40%;
  text-align: right;
}

#title-emoji {
  width: 40%;
  text-align: left;
}

#subtitle {
  font-size: 12pt;
  font-style: italic;
  font-weight: lighter;
  color: #a2a2a2;
  margin-top: -23px;
  text-align: center;
}

#settings, #about {
  clear: both;
  margin-top: 40px;
}

#settings h3, #about h3 {
  margin: 0;
  font-size: 18pt;
}

#about ul {
  margin-top: -5px;
  padding-left: 30px;
  list-style: none;
}

.italic {
  font-style: italic;
}

.bold {
  font-style: italic;
}

@media only screen 
       and (max-device-width: 736px) { 
  #input, #output {
    width: 100%;
    min-height: 250px; // под мобильники же
    clear: both;
  }

  #input {
    margin-top: 16px;
  }

  #output {
    margin-top: -10px;
  }

  #title {
    font-size: 23pt;
  }

  #subtitle {
    font-size: 10pt;
    margin-top: -16px;
  }
}