body {
  margin: 40px; 
  padding: 0;
  background: #fdfdfd;
  font-family: 'Fira Sans', sans-serif;
}

a {
  color: #0089ff;
}

a:hover {
  color: #3da5ff;
}

a:active {
  color: #0065bb;
}

/* хак для файрфокса, который чинит min-height у #input, #output */
@-moz-document url-prefix() {
  body {
    height: 100%;
  }
}

/* fallback */
.emoji {
  margin: 0 .05em 0 .1em;
  vertical-align: text-top;
}

#input, #output {
  width: calc(50% - 27px);
  height: auto;
  min-height: 30%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 40px;
  padding: 10px;
  font-size: 12pt;
  line-height: 1.2;
  background: #fff;
  border: 0.5pt solid #dcdcdc;
  border-radius: 5px;
  outline: none;
  white-space: pre-wrap;
  word-break: break-word;
  transition: all .2s;
}

#input .emoji, #output .emoji {
  width: 14pt;
  height: 14pt;
}

#input {
  float: left;
  font-family: 'Fira Sans', sans-serif;
  resize: none;
  overflow: hidden;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

#output {
  float: right;
}

#variants-tip {
  display: block;
  float: left;
  margin-top: -34px;
  /* margin-left: 11px; */
  font-size: 10pt;
  font-style: italic;
  font-weight: lighter;
  color: #a2a2a2;
}

#title {
  cursor: default;
  font-size: 32pt;
  line-height: 1.2;
  text-align: center;
}

#title-word, #title-arrow, #title-emoji {
  display: inline-block;
}

#title-word {
  width: 40%;
  text-align: right;
}

#title-arrow {
  vertical-align: top;
}

#title-emoji {
  width: 40%;
  text-align: left;
}

#title-emoji .emoji {
  width: 34pt;
  height: 34pt;
}

#subtitle {
  font-size: 12pt;
  font-style: italic;
  font-weight: lighter;
  color: #a2a2a2;
  margin-top: -23px;
  text-align: center;
}

#variants h3, #settings h3, #about h3 {
  margin: 0;
  font-size: 18pt;
}

#variants {
  max-width: 40%;
  float: right;
  text-align: right;
  opacity: 0;
  transition: opacity .2s;
}

#variants h3 {
  font-size: 14pt;
  font-weight: 300;
}

#variants-word {
  font-weight: bold;
}

#variants-value {
  margin-top: 6px;
  font-size: 18pt;
}

#variants-value .emoji {
  width: 20pt;
}

#settings, #about {
  margin-top: 40px;
  clear: both;
}

#settings p {
  margin: 10px 0;
}

#about ul {
  margin-top: -5px;
  padding-left: 30px;
  list-style: none;
}

#about .emoji {
  width: 14pt;
  height: 14pt;
}

.italic {
  font-style: italic;
}

.bold {
  font-style: italic;
}

@media only screen 
       and (max-device-width: 736px) { 
  #input, #output {
    width: 100%;
    min-height: 250px; /* под мобильники же */
    clear: both;
  }

  #input {
    margin-top: 16px;
  }

  #output {
    margin-top: -10px;
  }

  #title {
    font-size: 23pt;
  }

  #title-arrow {
    width: 23pt;
    vertical-align: -3pt;
  }

  #subtitle {
    font-size: 10pt;
    margin-top: -16px;
  }

  #variants {
    max-width: 100%;
    float: left;
    margin-top: 22px;
    text-align: left;
  }

  #variants-tip {
    font-size: 10pt;
  }
}